<h4 class="text-center m-1">
  Real State Funds
</h4>

<div>
  <div>
    <b>Code</b>
    <input id="addCod" #addCod [value]="addCod.value" (input)="onInputAddCodChange()" (keydown.enter)='onButtonAdd(addCod.value)'>
    <a (click)='onButtonAdd(addCod.value)'>
      <i class="btn btn-primary btn-sm fas fa-plus"></i>
    </a>
    <div *ngIf="invalidAddCod" class="alert alert-danger" role="alert">
      Fii code "{{invalidAddCod}}" does not exist.
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-info btn-sm " (click)='sortByField("vp")'>vp</button>
    <button class="btn btn-info btn-sm" (click)='sortByField("lastDyPercentageAnnualy")'>dy</button>
    <button class="btn btn-info btn-sm" (click)='sortByField("annualAverageDyPercentage")'>annual dy</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <b>Code</b>
  </div>
  <div class="col-sm-2">
    <b>Quantity</b>
  </div>
  <div class="col-sm-1">
    <b>Price</b>
  </div>
  <div class="col-sm-1">
    <b>DY </b>
  </div>
  <div class="col-sm-2">
    <b>DY 12</b>
  </div>
  <div class="col-sm-2">
    <b>Total</b>
  </div>
  <div class="col-sm-2">
    <b>Next DY</b>
  </div>
</div>
<div class="row" *ngFor="let myFii of myFiis; let i = index">
  <div class="col-sm-2">
    <!-- <i class="btn btn-danger btn-sm fas fa-trash-alt" (click)='onButtonRemove(myFii)'></i> -->
    <a routerLink="/fii/{{myFii.cod}}" routerLinkActive="active">{{myFii.cod}}</a>
    <i class="fas fa-trash-alt fa-xs" (click)='onButtonRemove(myFii)' style="font-size: 0.75rem;"></i>
    <div>
      <div *ngIf="myFii.vp<1">
        <div class="progress text-left bg-dark" style="height: 10px;">
          <div class="progress-bar bg-primary" role="progressbar" [style.width]="myFii.pricePercentage"></div>
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="myFii.pricePercentageRest">
          </div>
        </div>
        <div class="text-right">
          <small class="text-muted">&nbsp;{{myFii.pricePercentageRest}}</small>
        </div>
      </div>

      <div *ngIf="myFii.vp>=1">
        <div class="progress text-left bg-dark" style="height: 10px;">
          <div class="progress-bar bg-primary" role="progressbar" [style.width]="myFii.vpPercentage"></div>
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" [style.width]="myFii.vpPercentageRest"></div>
        </div>
        <div class="text-right">
          <small class="text-muted">&nbsp;{{myFii.vpPercentageRest}}</small>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <input class="form-control form-control-sm" type="text" name="cod" id="" value="{{myFii.qt}}" (input)="onInputQtChange(myFii, $event.target.value)">
  </div>
  <div class="col-sm-1">
    {{parseNumber(myFii.price)}}
  </div>
  <div class="col-sm-1">

    <span class="{{parseNumber(myFii.lastDyPercentageAnnualy) >= (targetPercentual | async) ? 'text-success' : 'text-danger' }}">
      {{parseNumber(myFii.lastDyPercentageAnnualy)}}
    </span>

  </div>
  <div class="col-sm-2">

    <span class="{{parseNumber(myFii.annualAverageDyPercentage) >= (targetPercentual | async) ? 'text-success' : 'text-danger' }}">
      {{parseNumber(myFii.annualAverageDyPercentage)}}
    </span>

  </div>
  <div class="col-sm-2">
    {{parseNumber(myFii.price * myFii.qt)}}
  </div>
  <div class="col-sm-2">
    {{parseNumber(myFii.lastDy * myFii.qt)}}
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <i class="btn btn-primary btn-lg fas fa-sync" (click)='onButtonRefresh()'></i>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-2">
    <b>{{sumDYAnnual}}</b>
  </div>
  <div class="col-sm-2">
    <b>{{totalValue}}</b>
  </div>
  <div class="col-sm-2">
    <b>{{totalDY}}</b>
  </div>
</div>
